* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* Hero Section Typography */
.hero h1 {
    font-weight: 300;
    color: white;
    padding: 1.5em;
}
.hero strong {
    font-weight: 900;
}
.hero h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: #e67e22;
    margin-bottom: 1em;
}
.hero p {
    text-transform: uppercase;
    color: #e67e22;
}

/* Intro Section Typography */
.intro h1 {
    font-weight: 900;
    font-size: 1.5rem;
}
.intro h2 {
    text-transform: uppercase;
    font-weight: 900;
    color: #e67e22;
    font-size: 1.0rem;
}
#disclaimer {
    font-size: 0.75rem;
}
.form #button {
    text-transform: uppercase;
    background-color: #e67e22;
    color: white;
}

/* Hero Section Layout */
.hero {
    background-image: url('../photos/fitness.jpeg');
    background-color: grey;
    background-blend-mode: multiply;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
.hero p {
    order: -1;
    border-top: 8px solid #e67e22;
    padding-top: 0.25em;
    border-image: linear-gradient(to right, #f6b370, #ff7700 ) 1;
}


/* Info Section Layout */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro p {
    color: #95a5a6;
    padding: 1em;
}
.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
}
.form input {
    text-align: inherit;
    font-family: inherit;
    padding: 0.75em;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
    outline: none;
    transform: scale(1);
    transition: transform 500ms;
}
.form input:focus {
    transform: scale(1.2);
}
#button {
    border: none;
    letter-spacing: 1.5px;
    background-image: linear-gradient(to right, #f6b370, #ff7700 );
    transform: scale(1);
    transition: transform 500ms;
    padding: 1.25em;
    border-radius: 5px;
}
#button:hover,
#button:focus {
    cursor: pointer;
    transform: scale(1.2);
}
#disclaimer {
    margin: -10px;
}


@media (min-width: 600px) {
    body {
        display: flex;
        width: 100%;
    }
    .container {
        width: 50%;
    }
    .hero {
        /* min-width: 50vw; */
        min-height: 100vh;
        /* justify-content: center; */
        margin: 0;
        align-items: center;
    }
    .hero h1 {
        font-size: 3.5rem;
        padding: 0;
    }
    .hero h2 {
        margin: 0;
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .hero > * {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .intro p {
        max-width: 400px;
    }
}